# Include the README so PyPI shows your long description
include README.md

# Include the license
include LICENSE

# Include all files inside the users package
recursive-include microsys *

# If you have templates inside the users app
recursive-include microsys/templates *

# If you have static files
recursive-include microsys/static *

# Make sure no unnecessary Python cache files are included
exclude *.pyc
exclude __pycache__/
recursive-exclude * __pycache__ *.pyc *.pyo
